@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #fff;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--body-color);
  transition: var(--tran-05);
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
body.dark .contenido {
  background: linear-gradient(to bottom, #00162c, rgb(54, 7, 77) 70%, #00162c);
}
.contenido {
  background: red;
}

body.dark {
  --body-color: linear-gradient(
    to bottom,
    #00162c,
    rgb(54, 7, 77) 70%,
    #00162c
  );
  --sidebar-color: #242526;
  --primary-color: rgb(159, 26, 226);
  --primary-color-light: #007aff;
  --toggle-color: #fff;
  --text-color: #fff;
}
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 190px;

  background: linear-gradient(
    to bottom,
    #007aff,
    rgb(159, 26, 226) 70%,
    #007aff
  );
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar .text,
.sidebar .icon {
  color: #fff;
  transition: var(--tran-03);
}
.sidebar.close {
  width: 71px;
}
.sidebar .text {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* ============= HEADER ============== */
.sidebar header {
  position: relative;
  height: 76px;
  margin-top: 5px;
  margin-left: 5px;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  font-size: 15px;
  font-weight: 900;
  margin-left: 20px;
}
header .image-text .profession {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 8px;
  display: block;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 60px;
  border-radius: 100px;
}
/*---------------Boton despliegue----------------------*/
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%) rotate(180deg);
  height: 20px;
  width: 20px;
  background-color: rgb(159, 26, 226);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
  background-color: rgb(159, 26, 226);
}
.sidebar.close ~ .encabezado {
  left: 8px;
  height: 100vh;
  width: calc(100% - 178px);
}

/*--------------MENU------------*/
.sidebar .menu {
  margin-top: 0;
}
.sidebar .menu-bar {
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 10px;
  position: relative;
  transition: var(--tran-05);
}
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li a {
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
.sidebar header,
.sidebar .icon {
  min-width: 20%;
  border-radius: 16px;
}
.sidebar .icon {
  min-width: 65px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(100% - -18px);
}
.menu-bar .mode .sun-moon {
  height: 100%;
  width: 65px;
}
.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 40px;
  width: 50px;
  border-radius: 15px;
  background-color: #007aff;
  transition: var(--tran-05);
}
.switch::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

/*-----------encabezado--------*/
.cabeza {
  background: linear-gradient(45deg, #007aff, rgb(159, 26, 226));
  height: 80px;
  width: 100%;
}
.encabezado {
  position: absolute;
  top: 0;
  left: 190px;
  height: 100vh;
  width: calc(100% - 190px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.encabezado .text {
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 253, 253);
  text-align: left;
  left: 50%;
  top: 50%;
  transform: translatey(40%) translateX(5%);
}
.encabezado .textTuki {
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 253, 253);
  text-align: right;
  line-height: 10px;
  top: 50%;
  transform: translatey(380%) translateX(-2%);
}
.sidebar.close ~ .encabezado {
  left: 70px;
  height: 100vh;
  width: calc(100% - 70px);
}

/*---------MODO NOCHE--------*/

body.dark .sidebar header .toggle {
  color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}
body.dark .switch::before {
  left: 20px;
}
body.dark .encabezado .text {
  color: rgb(255, 253, 253);
}
body.dark .sidebar {
  background: linear-gradient(to bottom, #00162c, rgb(54, 7, 77) 70%, #00162c);
}
body.dark .cabeza {
  background: #00162c;
}
body.dark .toggle-switch .switch {
  background-color: rgb(83, 11, 118);
}
body.dark .texto {
  color: rgb(255, 253, 253);
}
body.dark .encabezado {
  background: linear-gradient(to bottom, #00162c, rgb(54, 7, 77) 70%, #00162c);
}
body.dark .sidebar header .toggle {
  background-color: rgb(83, 11, 118);
}
