body{
    margin: 0;
    
}
.encabezado, .contenido, .contenido-lateral, .pie-pagina{
    padding: 1em 2em;
}

.contenido, .contenido-lateral, .pie-pagina{
    float: left;
    box-sizing: border-box;
}
.encabezado{
    background-color: lightgrey;
    height: 100px;
    text-align: center;
}
.contenido{
    width: 60%;
    font-size: medium;
}
.contenido-lateral{
    width: 40%;
    background-color:lightgray;
    height: 500px;
}
.post{
    background-color: lightgray;
    height: 100px;
    margin-bottom: 1em;
}

.pie-pagina{
    width: 100%;
    background-color: lightgrey;
    height: 50px;
    text-align: end;
}
@media screen and (min-width: 780px) and (max-width:1024px){
    .encabezado{
        background-color: lightgray;
    }
    .contenido, .contenido-lateral{
        width: 50%;
    }
}
@media screen and (min-width: 480px) and (max-width:780px){
    .encabezado{
        background-color: lightgray;
    }
    .contenido, .contenido-lateral{
        width: 100%;
    }
}

@media screen and (min-width: 480px){
    .encabezado{
       height: 80px;
    }
    .contenido{
        background-color: lightgray;
    }
    .contenido, .contenido-lateral{
        width: 100%;
    }
}

