* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.monto{
  font-size: 40px;
  text-align: center;
}
body {
  display: flex;
  align-items: center ;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0 10px;
  background: rgb(216, 216, 216);
  margin-top: 100px;
  margin-left: 200px;
  font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
}
.col{
  text-align: center;
}
::selection {
  color: #fff;
  background: #675AFE;
}

.wrapper{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 70px;
  padding: 0px;
  width: 500px
}

.BLOQUE1{
  margin-left: 70px;
  display: inline-flex;
}

.textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
}

header{
  margin-top: 20px;
}


h5{
  font-size: 1.70rem;
}


.wrapper2 {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
 
}

header{
  padding-top: 9px;
}

.movimiento{
  padding: 20px;
}
.wrapper3 {
  margin-left: 20px;
  margin-top: 70px;
  justify-content: space-evenly;
  width: 500px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 10px;
  padding-top: 38px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.wrapper4{
  margin-top: 60px;
  margin-left: 50px;
}
.table {
font-size: 20px;
}

.comun{
  text-align: center;
  margin-bottom: 70px
}
.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
 
}

.wrapper form {
  margin: 40px 0 20px 0;
 
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid #675AFE;
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  margin-top: 20px;
  display: flex;
  width: 200px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.drop-list .select-box1 {
  margin-top: 20px;
  display: flex;
  width:500px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}


.select-box img {
  max-width: 11px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

body.dark .p-3 {
  background-color: transparent !important;
  border-radius: 10px;
}

.largoB{
  border-radius: 6px;
  width: 300px;
}


form button {
  margin-top: 10px;
  height: 50px;
  width: 130px;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  background: #3719bb;
  transition: 0.3s ease;
}

form button:hover {
  background: #4e1daa;
}
.container{
margin: 100px;
text-align: center;
margin-top: 150px;
}

.row gx-5{
  display: block;
  padding: 100px;
  width: 1500px;
}

.col{
  border: 200px;
    background: red;
    margin-top: 100px;
    height: 200px;
}

.botones4{
  margin-right: 30px;
  display: inline-flex;
}

#b{
  height: 60px;
  margin: 20px;
}

.activodesactivo{
  display: inherit;
  padding: 40px;
  margin-right: 17px;
}

.redondeo{
  border-radius: 6px;
}

.coso{
  font-size: 28px;
}

/*MODONOCHE*/

body.dark .wrapper{
  background-color: transparent;
}

body.dark .wrapper2{
  background-color: transparent;
}

body.dark .wrapper3 {
background-color: transparent !important;
}

body.dark .table {
  color: #fff;
  }

  body.dark .comun{
    color: #fff;
    }

    body.dark header{
      color: #fff;
      }