.bloque {
  margin: 200px;
}

.nombre-usuario {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}
.foto-usuario {
  width: 120px;
}
.segunda-parte {
  width: 700px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(79, 0, 205);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}
svg {
  width: 34px;

  margin-right: 5px;
}

.activodesac{
  margin-bottom: 50px;
}

.Documento{
  margin-right: 310px;
}
.textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
  font-size: 70%;
}

.textarea2 {
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
  font-size: 70%;
}

.cvu {
  margin-right: 22px;
  display: inline-flex;
}
.pgrande-cvu {
  margin-top: 20px;
}
.formControl-cvu {
  margin-top: 15px;
  font-size: 4px;
  margin-left: 4px;
  width: 454px;
  height: 38px;
}
.pgrande-mail {
  margin-top: 20px;
}
.formControl-mail {
  margin-top: 15px;
  font-size: 4px;
  margin-left: 4px;
  width: 455px;
  height: 38px;
}
.mail {
  margin-top: 20px;
  margin-right: 15px;
  padding: 4px;
  display: inline-flex;
}
.constrasena {
  padding: 4px;
  display: inline-flex;
}
.formControl-clave {
  margin-top: 15px;
  font-size: 4px;
  width: 455px;
  height: 38px;
}
.pgrande-contrasena {
  margin-top: 10px;
}
.pgrande-clave {
  margin-top: 20px;
  margin-right: 4px;
}

.repetircontra {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 14px;
}

.terminos {
  padding: 8px;
}

.contrasena {
  display: inline-flex;
  margin-left: 25px;
}

.formControl1{
  width: 454px;
}
.fecha-nacimiento{
  margin-right: 350px;
  margin-top: 35px;
  display: inline-flex;
}

.formControl2 {
  height: 37px;
  width: 520px;
}

a {
  margin-top: 20px;
}
.contenido {
  display: flex;
}
.body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#botonesss {
  width: 150px;
  margin-top: 50px;
}
.encabezado {
  background-color: white;
}
.form-control {
  margin-left: 150px;
  width: 400px;
}
/* .faqs .pgrande {
  padding-top: 10px;
} */

.btn {
  width: 30%;
  justify-self: center;
}
.formControl {
  width: 67%;
  font-size: 20px;
  text-align: center;
}
.formControlDNI {
  margin-right: -309px;
  width: 123%;
  text-align: center;
}
.DNI {
  margin-left: 42px;
}
.modal-text {
  margin-left: 10px;
}
.modal-idUsuario {
  color: black;
}
.modal-control {
  margin-left: 10px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
#modal-btn {
  margin-left: 10px;
  width: 125px;
}
