.bloque {
  margin: 200px;
}
.primera-parte {
  background-color: white;
  height: 200px;
  text-align: center;
  align-items: center;
  display: block;
  padding: 45px;
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(79, 0, 205);
  border-radius: 10px;
  padding: 5px;
  width: 500px;
}
.nombre-usuario {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}
.foto-usuario {
  width: 120px;
}
.segunda-parte {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(79, 0, 205);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}
svg {
  width: 34px;
  
  margin-right: 5px;
}
.textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
  font-size: 70%;
}

.textarea2 {
  background-color: transparent;
  resize: none;
  outline: none;
  text-align: center;
  font-size: 70%;
}

.cvu {
  display: inline-flex;
 
}
.pgrande-cvu {
  margin-top: 20px;
}
.formControl-cvu {
  margin-top: 15px;
  font-size: 4px;
  margin-left: 4px;
  width: 200px;
  height: 38px;
}
.pgrande-mail {
  margin-top: 20px;
}
.formControl-mail {
  margin-top: 15px;
  font-size: 4px;
  margin-left: 4px;
  width: 200px;
  height: 38px;
}
.mail {
  padding: 4px;
  display: inline-flex;
}
.constrasena {
  padding: 4px;
  display: inline-flex;
}
.formControl-clave {
  margin-top: 15px;
  font-size: 4px;
  width: 200px;
  height: 38px;
}
.pgrande-contrasena {
  margin-top: 10px;
}
.pgrande-clave{
  margin-top: 20px;
  margin-right: 4px;
}

.repetircontra{
  display: inline-flex;
  margin-top: 20px;
  margin-left: 60px;
}

.terminos {
  padding: 8px;
}

.contrasena{
  display: inline-flex;
  margin-left: 38px;
}

.pgrande {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
a {
  margin-top: 20px;
}
.contenido {
  display: flex;
}
.body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#botonesss {
  width: 150px;
  margin-top: 50px;
}
.encabezado {
  background-color: white;
}
.form-control {
  width: 20px;
}
/* .faqs .pgrande {
  padding-top: 10px;
} */

.btn {
  width: 30%;
  justify-self: center;
}
.formControl {
  width: 67%;
  font-size: 20px;
  text-align: center;
}
.formControlDNI {
  width: 40%;
  text-align: center;
}
.DNI {
  margin-left: 42px;
}
