<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUKI</title>
    <link rel="stylesheet" href="/static/css/estiloPrincipal.css">
    <link href="/static/css/stylescuenta.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

<!-- Google fonts // Si quieren las cambian-->
<link rel="preconnect" href="https://fonts.gstatic.com" />
   <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
    rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />



    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img th:if="${session.usuariosession.foto != null}"
                            style="max-height: 200px; border-radius:100%"
                            th:src="${'/foto/usuario/'+ session.usuariosession.id}" alt="">
                        <img th:if="${session.usuariosession.foto == null}"
                            style="max-height: 200px; border-radius:100%" src="/assets/img/birrita.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">¡Hola!</span>
                    <span class="profession" th:if="${session.usuariosession != null}"
                            th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></span>
                        <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/inicio(id=${session.usuariosession.id})}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/usuario/editar-perfil(id=${session.usuariosession.id})}">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">Tu perfil</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/cuenta/micuenta(id=${session.usuariosession.id})}">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Cuenta</span>
                        </a>
                    </li>

                    <li class="nav-link">
                          <!-- Llamado ModalElegirCuentaComun-->
                     <div>
                            <a
                                data-toggle="modal" data-target="#myModal">
                            <i class='bx bx-group icon' ></i>
                            <span class="text nav-text">Cuenta comun</span>
                          </a>
                    </div><!-- fin llamado ModalElegirCuentaComun-->
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-transfer icon' ></i>
                            <span class="text nav-text">Transferir</span>
                        </a>
                    </li>

                    <li class="search-box">
                        <!--     <i class='bx bx-search icon'></i>
                             <input type="text" placeholder="" >   -->
                    </li>
                </ul>
            </div>

            <div class="bottom-content">

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Noche</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li> 
                
                <li class="salir">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>

            </div>
        </div>
    </nav>
    
    <div class="encabezado">
      <div class="cabeza">
        <div class="textTuki">TukiWallet</div>
        <div class="text">Cuenta</div>
      </div>
      <div class="contenido">
    <div th:replace="principalFinal::mensajes"></div>

    <div class="wrapper" Style="text-align:center">
      <h4 name="nombre" th:value="${micuenta.nombre}" th:if="${session.usuariosession != null}"
        th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h4>
      <input type="hidden" name="id" th:value="${session.usuariosession.id}" />

      <button type="button" class="btn btn-success " disabled th:if="${micuenta.cuenta.alta}==true">Activo</button>
      <button type="button" class="btn btn-danger " disabled th:if="${micuenta.cuenta.alta}==false">Inactivo</button>

      <header>Dinero disponible</header>
      <form action="#">
        <div class="monto">
          <h4><input class="textarea" type="number" name="saldo" th:value="${micuenta.cuenta.saldo}"
              readonly="readonly" /></h4>
        </div>
        <div class="wrapper2">
            <a class="button" th:href="@{/cuenta/transferirlink(id=${session.usuariosession.id})}">
                Transferir
            </a>
            <a class="button" type="button" data-toggle="modal" data-target="#misDatos">Ingresar </a>
      </form>

    </div>
    <div class="p-3 border bg-light">
      <header>Movimiento de tu actividad</header>
      
       <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Cvu</td>
                            <td>Monto</td>
                            <td>Motivo</td>
                            <td>Fecha</td>
                        </tr>
                    </thead>
                    <tr th:each="actividad:${actividad}">
                            <td th:if="${actividad.cvu}!=${micuenta.cuenta.cvu}" th:text="${actividad.cvu}"></td>
                            <td th:unless="${actividad.cvu}!=${micuenta.cuenta.cvu}" th:text="${actividad.cvu2}"></td>
                            <td th:if="${actividad.movimiento}" th:text="${actividad.monto}" style="color: red"></td>
                            <td th:unless="${actividad.movimiento}" th:text="${actividad.monto}" style="color: green"></td>
                            <td th:text="${actividad.motivo}"></td>
                            <td th:text="${actividad.fecha}"></td>
                   </tr>
        </table>
      
    </div>


    <form class="separacion" th:if= "${micuenta.cuenta.alta}==true" action="/cuenta/bajaCuenta" method="post">
      <input type="hidden" name="idCuenta" th:value="${micuenta.cuenta.id}" />
      <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
      <button type="submit" class="btn btn-danger btn-xl rounded mt-2"
      style="float:inline-start; margin-bottom: 8px; padding: 8px;">Baja Cuenta</button>
    </form> 
    <form th:if= "${micuenta.cuenta.alta}==false" action="/cuenta/altaCuenta" method="post">
      <input type="hidden" name="idCuenta" th:value="${micuenta.cuenta.id}" />
      <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
      <button type="submit" class="btn btn-success btn-xl rounded mt-2"
      style="float:inline-start; margin-bottom: 8px; padding: 8px;">Alta Cuenta</button>
    </form> 


  </div>

      <!-- Modal ModalMostrarDatos -->
  <div id="misDatos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content ModalMostrarDatos-->
      <div class="modal-content">
        <div class="modal-header" style="margin:10px;">
          <!-- <button type="button" class="btn-close btn-close-black" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Datos para que Ingresen Dinero</h4>
        </div>
        <div class="col-md-9" style="margin:70px;">
          <label class="text">Nombre y Apellido:</label>
          <input class="textarea" type="text" name="nombre-usuario"
            th:value="${micuenta.nombre + ' ' + micuenta.apellido}" readonly="readonly" />
          <br>
          <label class="text">DNI:</label>
          <input class="textarea" type="text" name="dni-usuario" th:value="${micuenta.dni}" readonly="readonly" />
          <br>
          <label class="text">Cvu:</label>
          <input class="textarea" style="width:60%;" type="text" name="cvu-cuenta-usuario"
            th:value="${micuenta.cuenta.cvu}" readonly="readonly" />
          <br>
          <label class="text">Alias:</label>
          <input class="textarea" type="text" name="alias-cuenta-usuario" th:value="${micuenta.cuenta.alias}"
            readonly="readonly" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Final ModalMostrarDatos -->


<!-- ModalElegirCuentaComun -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content ModalElegirCuentaComun-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Elige una Cuenta Comun</h4>
        </div>
        <div class="col-md-10">
          <form>
            <label class="text">Mis Cuentas Comun</label>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
            <br>
            <select class="form-control" name="idCC">
              <option></option>
              <option th:if="${listaCCAux.propietario}==${session.usuariosession.id}" th:each="listaCCAux:${listaCC}" th:text="${listaCCAux.nombre}"
                th:value="${listaCCAux.id}"></option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" formaction="/cuentaComun/micuentaC">Seleccionar</button>
            <br>
          </form>
        </div>
        <div class="col-md-10">
          <form>
            <label class="text">Cuentas Comun Soy Parte</label>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
            <br>
            <select class="form-control" name="idCC">
              <option></option>
              <option th:if="${listaCCAux.propietario}!=${session.usuariosession.id}" th:each="listaCCAux:${listaCC}" th:text="${listaCCAux.nombre}"
                th:value="${listaCCAux.id}"></option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" formaction="/cuentaComun/micuentaC">Seleccionar</button>
            <br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Final ModalElegirCuentaComun -->


    <script src="/static/js/jssPrincipal.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>