<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/estiloPrincipal.css">
  <link href="/css/stylescuentac.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <!-- Google fonts // Si quieren las cambian-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>Cuenta Comun</title>
</head>


<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img th:if="${session.usuariosession.foto != null}" style="max-height: 200px; border-radius:100%"
            th:src="${'/foto/usuario/'+ session.usuariosession.id}" alt="">
          <img th:if="${session.usuariosession.foto == null}" style="max-height: 200px; border-radius:100%"
            src="/assets/img/birrita.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">¡Hola!</span>
          <span class="profession" th:if="${session.usuariosession != null}"
            th:text="${session.usuariosession.nombre}"></span>
          <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link">
            <a th:href="@{/inicio(id=${session.usuariosession.id})}">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Inicio</span>
            </a>
          </li>

          <li class="nav-link">
            <a th:href="@{/usuario/editar-perfil(id=${session.usuariosession.id})}">
              <i class='bx bx-user icon'></i>
              <span class="text nav-text">Tu perfil</span>
            </a>
          </li>

          <li class="nav-link">
            <a th:href="@{/cuenta/micuenta(id=${session.usuariosession.id})}">
              <i class='bx bx-wallet icon'></i>
              <span class="text nav-text">Cuenta</span>
            </a>
          </li>

          <li class="nav-link">
            <!-- Llamado ModalElegirCuentaComun-->
            <div>
              <a data-toggle="modal" data-target="#myModal">
                <i class='bx bx-group icon'></i>
                <span class="text nav-text">Cuenta comun</span>
              </a>
            </div><!-- fin llamado ModalElegirCuentaComun-->
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-transfer icon'></i>
              <span class="text nav-text">Transferir</span>
            </a>
          </li>

          <li class="search-box">
            <!--     <i class='bx bx-search icon'></i>
                             <input type="text" placeholder="" >   -->
          </li>
        </ul>
      </div>

      <div class="bottom-content">

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Noche</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

        <li class="salir">
          <a href="/logout">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Salir</span>
          </a>
        </li>

      </div>
    </div>
  </nav>
  <div class="encabezado">
    <div class="cabeza">
      <div class="textTuki">TukiWallet</div>
      <div class="text">Cuenta común</div>
    </div>
    <div class="contenido">

      <div th:replace="principalFinal::mensajes"></div>

      <div class="wrapper" Style="text-align:center">
        <h4 name="nombre" th:value="${micuentaC.nombre}" th:if="${session.usuariosession != null}"
          th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h4>
        <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
        <input class="textarea" type="text" name="nombrecc" th:value="${cuentaComun.nombre}" />

        <button type="button" class="btn btn-success " disabled th:if="${cuentaComun.alta}==true">Activo</button>
        <button type="button" class="btn btn-danger " disabled th:if="${cuentaComun.alta}==false">Desactivo</button>


        <header>Dinero disponible</header>
        <form action="#">
          <div class="monto">
            <h4><input class="textarea" type="number" name="saldocc" th:value="${cuentaComun.saldoCC}"
                readonly="readonly" /></h4>
          </div>
        

            <button type="button" data-toggle="modal" data-target="#misDatos">Ingresar </button>


        </form>
        <form action="/cuentaComun/transferirlinkCC">
        <div class="wrapper2">
          <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
          <input type="hidden" name="idCuentaComun" th:value="${cuentaComun.id}" />
          <input type="submit" value="Transferir"/>
      </form>
      </div>

      <div class="p-3 border bg-light">
        <header class="movimiento">Movimiento de tu actividad</header>
        
         <table class="table table-hover">
                      <thead>
                          <tr>
                              <td>Cvu</td>
                              <td>Monto</td>
                              <td>Motivo</td>
                              <td>Fecha</td>
                          </tr>
                      </thead>
                      <tr th:each="actividad:${actividad}">
                              <td th:if="${actividad.cvu}!=${cuentaComun.cvuCC}" th:text="${actividad.cvu}"></td>
                              <td th:unless="${actividad.cvu}!=${cuentaComun.cvuCC}" th:text="${actividad.cvu2}"></td>
                              <td th:if="${actividad.movimiento}" th:text="${actividad.monto}" style="color: red"></td>
                              <td th:unless="${actividad.movimiento}" th:text="${actividad.monto}" style="color: green"></td>
                              <td th:text="${actividad.motivo}"></td>
                              <td th:text="${actividad.fecha}"></td>
                     </tr>
          </table>
      </div>
  

      <div th:if="${cuentaComun.propietario}==${session.usuariosession.id}">
        <form th:if="${cuentaComun.alta}==true" action="/cuentaComun/deshabilitarCC" method="post">
          <input type="hidden" name="idCuentaComun" th:value="${cuentaComun.id}" />
          <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
          <button type="submit" class="btn btn-danger btn-xl rounded mt-2"
            style="float:inline-start; margin-bottom: 8px; padding: 8px;">Baja Cuenta Comun</button>
        </form>
        <form th:if="${cuentaComun.alta}==false" action="/cuentaComun/habilitarCC" method="post">
          <input type="hidden" name="idCuentaComun" th:value="${cuentaComun.id}" />
          <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
          <button type="submit" class="btn btn-success btn-xl rounded mt-2"
            style="float:inline-start; margin-bottom: 8px; padding: 8px;">Alta Cuenta Comun</button>
        </form>
      </div>

      <div class="wrapper3">
        <div class="comun">
          <h5>Usuarios con Tuki</h5>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <td><Strong>#</Strong></td>
              <td><Strong>Nombre</Strong></td>
              <td><Strong>Monto</Strong></td>
              <td><Strong th:if="${cuentaComun.propietario}==${session.usuariosession.id}">Eliminar</Strong></td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="listaUsuarios,numero:${listaUsuarios}">
              <td th:text="${numero.index}+1"></td>
              <td th:text="${listaUsuarios.nombre}"></td>
              <td th:each="listaSaldosUsuarios,numero1:${listaSaldosUsuarios}"
              th:if="${numero.index}==${numero1.index}"th:text="${listaSaldosUsuarios}"></td>
              <td>
                <form th:if="${cuentaComun.propietario}==${session.usuariosession.id}"
                  action="/cuentaComun/eliminardeListaUsuariosTuki/" method="post">
                  <input type="hidden" name="idUsuario" th:value="${micuentaC.id}" />
                  <input type="hidden" name="idE" th:value="${listaUsuarios.id}" />
                  <input type="hidden" name="idCC" th:value="${cuentaComun.id}" />
                  <button type="submit" class="btn btn-danger" th:if="${listaUsuarios.id}!=${session.usuariosession.id}">Eliminar</i></button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="comun">
          <h5>Usuarios Sin Tuki/Efectivo</h5>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <td><Strong>#</Strong></td>
              <td><Strong>Nombre</Strong></td>
              <td><Strong>Monto</Strong></td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="listaUsuariosEfectivo2,numeroES:${listaUsuariosEfectivo2}">
              <td th:text="${numeroES.index}+1"></td>
              <td th:text="${listaUsuariosEfectivo2.comentario}"></td>
              <td th:each="listaSaldosUsuariosEfectivo,numeroES1:${listaSaldosUsuariosEfectivo}"
              th:if="${numeroES.index}==${numeroES1.index}"th:text="${listaSaldosUsuariosEfectivo}"></td>
              <td>
                <form th:if="${cuentaComun.propietario}==${session.usuariosession.id}"
                  action="/cuentaComun/eliminardeListaUsuariosSinTuki/" method="post">
                  <input type="hidden" name="idUsuario" th:value="${micuentaC.id}" />
                  <input type="hidden" name="idCC" th:value="${cuentaComun.id}" />
                  <input type="hidden" name="idE2" th:value="${listaUsuariosEfectivo2.id}" />
                  <button type="submit" class="btn btn-danger" th:if="${listaUsuariosEfectivo2.id}!=${session.usuariosession.id}">Eliminar</i></button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>

        <form action="#">
          <div class="wrapper4">

            <a class="button" type="button" data-toggle="modal" data-target="#agregarUsuario"
              th:if="${cuentaComun.propietario}==${session.usuariosession.id}">Agregar Persona Con Tuki</a>
            <a class="button" type="button" data-toggle="modal" data-target="#agregarUsuarioSinTukiEfectivo"
              th:if="${cuentaComun.propietario}==${session.usuariosession.id}">Agregar Persona Sin Tuki/Efectivo</a>

        </form>

        <form th:if="${cuentaComun.propietario}==${session.usuariosession.id}" action="/cuentaComun/divisionJusta"
        method="post">
        <input type="hidden" name="idCuentaComun" th:value="${cuentaComun.id}" />
        <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
        <button type="submit" class="btn btn-success btn-xl rounded mt-2"
          style="float:inline-start; margin-bottom: 8px; padding: 8px;">Dividir</button>
      </form>


      </div>
    </div>
  </div>
      
  <!-- ModalElegirCuentaComun -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content ModalElegirCuentaComun-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Elige una Cuenta Comun</h4>
        </div>
        <div class="col-md-10">
          <form>
            <label >Mis Cuentas Comun</label>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
            <br>
            <select class="form-control" name="idCC">
              <option></option>
              <option th:if="${listaCCAux.propietario}==${session.usuariosession.id}" th:each="listaCCAux:${listaCC}"
                th:text="${listaCCAux.nombre}" th:value="${listaCCAux.id}"></option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" formaction="/cuentaComun/micuentaC">Seleccionar</button>
            <br>
          </form>
        </div>
        <div class="col-md-10">
          <form>
            <label >Cuentas Comun Soy Parte</label>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
            <br>
            <select class="form-control" name="idCC">
              <option></option>
              <option th:if="${listaCCAux.propietario}!=${session.usuariosession.id}" th:each="listaCCAux:${listaCC}"
                th:text="${listaCCAux.nombre}" th:value="${listaCCAux.id}"></option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" formaction="/cuentaComun/micuentaC">Seleccionar</button>
            <br>
          </form>
        </div>
        <div class="gap-2 col-mid-9 mx-mid>
          <form>
            <button type="submit" class="btn btn-primary" formaction="/cuentaComun/nuevaCuentaComun">Crear nueva cuenta comun</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Final ModalElegirCuentaComun -->

      <!-- Modal ModalMostrarDatos -->
      <div id="misDatos" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content ModalMostrarDatos-->
          <div class="modal-content">
            <div class="modal-header" style="margin:10px;">
              <!-- <button type="button" class="btn-close btn-close-black" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title">Datos para que Ingresen Dinero Cuenta Comun</h4>
            </div>
            <div class="col-md-9" style="margin:70px;">
              <label class="text">nombre:</label>
              <input class="textarea" type="text" name="nombre-cc" th:value="${cuentaComun.nombre}"
                readonly="readonly" />
              <br>
              <label class="text">Cvu:</label>
              <input class="textarea" style="width:60%;" type="text" name="cvu-cc" th:value="${cuentaComun.cvuCC}"
                readonly="readonly" />
              <br>
              <label class="text">Alias:</label>
              <input class="textarea" style="width:70%;" type="text" name="alias-cc" th:value="${cuentaComun.aliasCC}"
                readonly="readonly" />
            </div>
           <div class="gap-2 col-mid-9 mx-mid>
           <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <!-- Final ModalMostrarDatos -->


      <!-- Modal ModalAgregarUsuario -->
      <div id="agregarUsuario" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content ModalAgregarUsuario-->
          <div class="modal-content">
            <div class="modal-header" style="margin:10px;">
              <!-- <button type="button" class="btn-close btn-close-black" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title">Ingresa Datos del Usuario</h4>
            </div>
            <div class="col-md-9" style="margin:70px;">
              <form action="/cuentaComun/agregarUsuarioCC/" method="POST">

                <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
                <input type="hidden" name="idCC" th:value="${cuentaComun.id}" />
                <label class="text">Cvu:</label>
                <input class="form-control" style="width:70%;" type="text" name="cvuUsuario" th:value="${cvuUsuario}" />
                <br>
                <label class="text">Alias:</label>
                <input class="form-control" style="width:90%;" type="text" name="aliasCC" th:value="${aliasCC}" />

                <button type="submit" class="btn btn-primary">Agregar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      <!-- Final ModalAgregarUsuario -->

      <!-- Modal ModalAgregarUsuarioSinTukiEfectivo -->
      <div id="agregarUsuarioSinTukiEfectivo" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content ModalAgregarUsuarioSinTukiEfectivo-->
          <div class="modal-content">
            <div class="modal-header" style="margin:10px;">
              <!-- <button type="button" class="btn-close btn-close-black" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title">Ingresa Datos del Usuario</h4>
            </div>
            <div class="col-md-9" style="margin:70px;">
              <form action="/cuentaComun/agregarUsuarioCCTKEfectivo/" method="POST">
                <label class="text">Persona que tiene Tuki pero aporto en Efectivo</label>
                <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
                <input type="hidden" name="idCC" th:value="${cuentaComun.id}" />
                <label class="text">Cvu o Alias:</label>
                <input class="form-control" style="width:90%;" type="text" name="cvuoAliasUsuario" th:value="${cvuUsuario}" required=""/>
                <br>
                <label class="text">Monto:</label>
                <input class="form-control" type="number" name="montoEfectivoTk" th:value="${montoEfectivoTk}" required=""/>
                <button type="submit" class="btn btn-primary">Agregar</button>
              </form>
            </div>
            <div class="col-md-9" style="margin:70px;">
              <form action="/cuentaComun/agregarUsuarioCCEfectivo/" method="POST">
                <label class="text">Persona que NO tiene Tuki aporto en Efectivo</label>
                <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
                <input type="hidden" name="idCC" th:value="${cuentaComun.id}" />
                <label class="text">Nombre:</label>
                <input class="form-control" style="width:70%;" type="text" name="nombreEfectivo"
                  th:value="${nombreEfectivo}" required=""/>
                <br>
                <label class="text">Monto:</label>
                <input class="form-control" type="number" name="montoEfectivo" th:value="${montoEfectivo}" required=""/>

                <button type="submit" class="btn btn-primary">Agregar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      <!-- Final ModalAgregarUsuarioSinTukiEfectivo -->

  <script src="/js/jssPrincipal.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>
