<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/team.css" />
    <title>About Us</title>
  </head>
  <body>
    <h1 class="titulon">TUKI <br> WALLET</h1>
    <div class="parte__arriba">
      <h1 class="titulo__principal">Conoce a nuestro equipo</h1>
      <h3 class="descripcion">
        Una combinación perfecta de creatividad y programacion. <br />
        La mejor fórmula de personas proyectos
      </h3>
      <div class="div.foto"></div>
      <img class="foto__team" src="/static/assets/img/TEAM.jpeg" alt="" />
    </div>
    <div class="segunda__clase">
      <section class="team-section">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h1>TEAM</h1>
              <p>Equipo completo de la TukiWallet</p>
            </div>
          </div>
          <div class="row">
            <div class="team-items">
              <div class="item">
                <img src="/static/assets/img/LEE copia.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Cuellar Lee David</h5>
                    <p>Back-End</p>
                    <div class="social-links">
                      <a
                        href="https://github.com/leedavidcuellar"
                        target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a
                        href="https://www.linkedin.com/in/lee-david-cuellar-sanz/"
                        target="_blank"
                        ><span class="fa fa-linkedin"></span
                      ></a>
                      <a
                        href="https://www.instagram.com/leedavidc/"
                        target="_blank"
                        ><span class="fa fa-instagram"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/img/LUCY copia.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Musso Lucia</h5>
                    <p>Front-End</p>
                    <div class="social-links">
                      <a href="https://github.com/luciamusso" target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a
                        href="https://www.linkedin.com/in/lucia-musso-251209122/"
                        target="_blank"
                        ><span class="fa fa-linkedin"></span
                      ></a>
                      <a
                        href="https://www.instagram.com/luciamuss0/"
                        target="_blank"
                        ><span class="fa fa-instagram"></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/img/JOACO.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Calderon Joaquin</h5>
                    <p>Back-End</p>
                    <div class="social-links">
                      <a href="https://github.com/joacalde" target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a href=""><span class="fa fa-linkedin"></span></a>
                      <a href="https://www.instagram.com/joaco_calde/" target=""><span class="fa fa-instagram"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/img/IBIS.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Almada Ibistina</h5>
                    <p>Back-End</p>
                    <div class="social-links">
                      <a href="https://github.com/Ibistina" target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a href="https://www.linkedin.com/in/ibis-almada-44854b150/" target="_blank"><span class="fa fa-linkedin"></span></a>
                      <a href="https://www.instagram.com/ibistina/" target="_blank"><span class="fa fa-instagram"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <img src="/static/assets/img/PETA.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Ruiz Andres</h5>
                    <p>Front-End</p>
                    <div class="social-links">
                      <a href="https://github.com/AndresRuiz84" target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a href="https://www.linkedin.com/in/andres-ruiz-dev/" target="_blank"><span class="fa fa-linkedin"></span></a>
                      <a href="https://www.instagram.com/peta_ruiz/" target="_blank"><span class="fa fa-instagram"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/img/EMA.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Sanchez Emanuel</h5>
                    <p>Back-End</p>
                    <div class="social-links">
                      <a href="https://github.com/EmaS7" target="_blank"
                        ><span class="fa fa-github"></span
                      ></a>
                      <a href="https://www.linkedin.com/in/emanuel-sanchez-635801205/" target="_blank"><span class="fa fa-linkedin"></span></a>
                      <a href="https://www.instagram.com/ema_sanchez.ok/" target="_blank"><span class="fa fa-instagram"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/img/IGNA.png" alt="team" />
                <div class="inner">
                  <div class="info">
                    <h5>Femenia Ignacio</h5>
                    <p>Front-End</p>
                    <div class="social-links">
                      <a href="https://github.com/ignafemenia" target="_blank"><span class="fa fa-github"></span></a>
                      <a href="https://www.linkedin.com/in/ignaciofemenia/" target="_blank"><span class="fa fa-linkedin"></span></a>
                      <a href="https://www.instagram.com/femeniax/" target="_blank"><span class="fa fa-instagram"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
