<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TUKI</title>
    <link rel="stylesheet" href="/css/estiloPrincipal.css" />
    ARREGLAR ESE CSS

    <link rel="stylesheet" href="/css/transferir.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />

    <!-- Google fonts // Si quieren las cambian-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img
              th:if="${session.usuariosession.foto != null}"
              style="max-height: 200px; border-radius: 100%"
              th:src="${'/foto/usuario/'+ session.usuariosession.id}"
              alt=""
            />
            <img
              th:if="${session.usuariosession.foto == null}"
              style="max-height: 200px; border-radius: 100%"
              src="/assets/img/birrita.png"
              alt=""
            />
          </span>

          <div class="text logo-text">
            <span class="name">¡Hola!</span>
            <span
              class="profession"
              th:if="${session.usuariosession != null}"
              th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"
            ></span>
            <input
              type="hidden"
              name="id"
              th:value="${session.usuariosession.id}"
            />
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a th:href="@{/cuenta/micuenta(id=${session.usuariosession.id})}">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Cuenta</span>
              </a>
            </li>


                    <li class="nav-link">
                        <a th:href="@{/usuario/editar-perfil(id=${session.usuariosession.id})}">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">Tu perfil</span>
                        </a>
                    </li>
                    <li class="nav-link">
                          <!-- Llamado ModalElegirCuentaComun-->
                     <div>
                            <a
                                data-toggle="modal" data-target="#myModal">
                            <i class='bx bx-group icon' ></i>
                            <span class="text nav-text">Cuenta comun</span>
                          </a>
                    </div><!-- fin llamado ModalElegirCuentaComun-->
                    </li>
                   <li class="nav-link">
                       <div>
                           <a 
                            data-toggle="modal" data-target="#transfModal">
                            <i class='bx bx-transfer icon' ></i>
                            <span class="text nav-text">Transferir</span>
                            </a>
                        </div>
                    </li>
                    <li class="search-box">
                        <!--     <i class='bx bx-search icon'></i>
                             <input type="text" placeholder="" >   -->
                    </li>
               </ul>
        </div>

        <div class="bottom-content">
          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Noche</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>

          <li class="salir">
            <a href="/logout">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Salir</span>
            </a>
          </li>
        </div>
      </div>
    </nav>
    <div class="encabezado">
      <div class="cabeza">
        <div class="textTuki">TukiWallet</div>
        <div class="text">Inicio</div>
      </div>
      <div class="contenido">
        <div th:replace="cuenta::mensajes"></div>

        <div class="wrapper">
          <header class="realizartrans">Realizar transferencia</header>
          <form action="/cuenta/transferir" method="post">
            <input
              type="hidden"
              th:value="${session.usuariosession.id}"
              name="id"
            />
            <div class="amount">
              <p>Ingrese el monto</p>
              <input type="number" value="1" class="monto" name="monto" />
            </div>
            <div class="drop-list">
              <div class="from">
                <p>Cuenta de :</p>
                <!--Nos deberia aparecer el nombre de nuestra cuenta automaticamente-->
                <div class="select-box">
                  <input
                    type="text"
                    th:if="${cuentaComun==null}"
                    th:value="${session.usuariosession.cuenta.cvu}"
                    name="cvuCuenta"
                    readonly="readonly"
                  />
                  <input
                    type="text"
                    th:if="${cuentaComun!=null}"
                    th:value="${cuentaComun.cvuCC}"
                    name="cvuCuentaComun"
                    readonly="readonly"
                  />
                  <input
                    type="hidden"
                    th:if="${cuentaComun!=null}"
                    th:value="${cuentaComun.id}"
                    name="idCuentaComun"
                  />
                </div>
              </div>
              <div class="to">
                <p>Para :</p>
                <!--Nombre de la cuenta(o mail) que queremos transferir-->
                <div class="select-box2">
                  <input
                    type="text"
                    placeholder="Alias o CVU"
                    name="cvuoAlias"
                  />
                </div>
              </div>
              <div class="reason">
                <p>Monto</p>
                <input type="text" placeholder="Motivo:" name="motivo" />
              </div>
            </div>
            <div class="transfe">
              <input type="submit" value="TRANSFERIR" />
            </div>
          </form>
          <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
        </div>
      </div>
    </div>
    <!-- ModalElegirCuentaComun -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content ModalElegirCuentaComun-->
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close btn-close-black"
              data-dismiss="modal"
            >
              &times;
            </button>
            <h4 class="modal-title">Elige una Cuenta Comun</h4>
          </div>
          <div class="col-md-5">
            <form>
              <label class="modal-text">Mis Cuentas Comun</label>
              <input
                type="hidden"
                name="idUsuario"
                th:value="${session.usuariosession.id}"
              />
              <br />
              <select class="form-control modal-control" name="idCC" required="">
                <option></option>
                <option
                  th:if="${listaCCAux.propietario}==${session.usuariosession.id}"
                  th:each="listaCCAux:${listaCC}"
                  th:text="${listaCCAux.nombre}"
                  th:value="${listaCCAux.id}"
                ></option>
              </select>
              <br />
              <button
                id="modal-btn"
                type="submit"
                class="btn btn-primary"
                formaction="/cuentaComun/micuentaC"
              >
                Seleccionar
              </button>
              <br />
            </form>
          </div>
          <div class="col-md-5">
            <form>
              <label class="modal-text">Cuentas Comun Soy Parte</label>
              <input
                class="modal-idUsuario"
                type="hidden"
                name="idUsuario"
                th:value="${session.usuariosession.id}"
              />
              <br />
              <select class="form-control modal-control" name="idCC" required="">
                <option></option>
                <option
                  th:if="${listaCCAux.propietario}!=${session.usuariosession.id}"
                  th:each="listaCCAux:${listaCC}"
                  th:text="${listaCCAux.nombre}"
                  th:value="${listaCCAux.id}"
                ></option>
              </select>
              <button
                id="modal-btn"
                type="submit"
                class="btn btn-primary"
                formaction="/cuentaComun/micuentaC"
              >
                Seleccionar
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Final ModalElegirCuentaComun -->

<!-- ModalTransferir -->
        <div id="transfModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content transferir -->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">A que queres transferir?</h4>
                    </div>
                    <div class="col-md-10">
                        <form>
                            
                            <!--<label class="modal-text"></label>
                            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}" />
                            <br>
                            <select class="form-control modal-control" name="idCC" required="">
                              <option></option>
                              <option th:if="${listaCCAux.propietario}==${session.usuariosession.id}" th:each="listaCCAux:${listaCC}" th:text="${listaCCAux.nombre}"
                                th:value="${listaCCAux.id}"></option> 
                            </select>-->
                            <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
                            <button id="modal-btn" type="input" class="btn btn-primary" formaction="/cuenta/transferirlink">Cuenta</button>
                            <br>
                        </form>
                    </div>
                    <br>
                    <div class="col-md-10">
                        <form>
          
                            <label class="modal-text">Mis Cuentas Comun</label>
                            <input type="hidden" name="id" th:value="${session.usuariosession.id}" />
                            <br>
                            <select class="form-control modal-control" name="idCuentaComun" required="">
                                <option></option>
                                <option th:if="${listaCCAux.propietario}==${session.usuariosession.id}" th:each="listaCCAux:${listaCC}" th:text="${listaCCAux.nombre}"
                                        th:value="${listaCCAux.id}"></option> 
                            </select>
                            <button id="modal-btn" type="submit" class="btn btn-primary" formaction="/cuentaComun/transferirlinkCC">Seleccionar</button>
                            <br>
                          
                        </form>
                    </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Final ModalTransferir -->

    <script src="/js/jssPrincipal.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

