<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/transferir.css" />
    <title>Transferencia</title>
  </head>
  <body>
    <div class="wrapper">
      <header>Realizar transferencia</header>
      <form action="#">
        <div class="amount">
          <p>Ingrese el monto</p>
          <input type="number" value="1" class="monto" />
        </div>
        <div class="drop-list">
          <div class="from">
            <p>Cuenta de :</p>
            <!--Nos deberia aparecer el nombre de nuestra cuenta-->
            <div class="select-box">
              <input type="text" placeholder="Nombre cuenta" />
            </div>
          </div>
          <div class="to">
            <p>Para :</p>
            <!--Nombre de la cuenta(o mail) que queremos transferir-->
            <div class="select-box">
              <input type="text" placeholder="Nombre cuenta" />
            </div>
          </div>
        </div>
        <button>TRANSFERIR</button>
      </form>
    </div>

    <div class="wrapper">
      <header>Recibir dinero</header>
      <form action="#">
        <div class="amount">
          <p>Enviar mis datos</p>
          <input
            type="text"
            placeholder="CVU o Email"
          /><!--no se si enviar cvu, mail o los dos-->
        </div>
        <div class="drop-list">
          <div class="from1">
            <p>A la cuenta :</p>
            <div class="select-box1">
              <input type="text" placeholder="Nombre cuenta" />
            </div>
          </div>
        </div>
        <button>ENVIAR</button>
      </form>
    </div>
  </body>
</html>
