<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/tuperfil.css" />
    <title>Perfil</title>
  </head>
  <body>
    <nav></nav>
    <main>
      <div class="bloque">
        <!--En esta seccion va la foto del usuario y el nombre del usuario-->
        <section class="primera-parte">
          <img
            class="foto-usuario"
            src="/static/assets/img/birrita.png"
            alt="Foto de perfil del usuario"
          />
          <h3 class="nombre-usuario">Nombre y Apellido del usuario</h3>
        </section>
        <!--En esta seccion van los datos-->
        <section class="segunda-parte">
          <div class="cvu">
            <svg
              class="icono"
              xmlns="http://www.w3.org/2000/svg"
              viewbox="0 0 24 24"
            >
              <path
                d="M7 21h-4v-11h4v11zm7-11h-4v11h4v-11zm7 0h-4v11h4v-11zm2 12h-22v2h22v-2zm-23-13h24l-12-9-12 9z"
              />
            </svg>
            <p class="pgrande">Mi cvu</p>
            <p>CVU del usuario</p>
          </div>
          <div class="mail">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <path
                d="M0 3v18h24v-18h-24zm21.518 2l-9.518 7.713-9.518-7.713h19.036zm-19.518 14v-11.817l10 8.104 10-8.104v11.817h-20z"
              />
            </svg>
            <p class="pgrande">Email</p>
            <p>Email usuario</p>
          </div>
          <div class="contrasena">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <path
                d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z"
              />
            </svg>
            <p class="pgrande">Contraseña</p>
            <!--Hay que charlar esto-->
            <p>Contraseña usuario ****</p>
          </div>
          <div class="fecha-nacimiento">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <path
                d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z"
              />
            </svg>
            <p class="pgrande">Fecha de nacimiento</p>
            <!--Cambiar la foto del nacimiento-->
            <p>Nacimiento usuario</p>
          </div>
          <div class="terminos">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"
              />
            </svg>
            <p class="pgrande">Termino y condiciones</p>
            <!--Para dejarlo mas completo? -->
          </div>
          <div class="faqs">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <path
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 18.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.431-3.468.573-.544 1.025-.975.962-1.821-.058-.805-.73-1.226-1.365-1.226-.709 0-1.538.527-1.538 2.013h-2.01c0-2.4 1.409-3.95 3.59-3.95 1.036 0 1.942.339 2.55.955.57.578.865 1.372.854 2.298-.016 1.383-.857 2.291-1.534 3.021z"
              />
            </svg>
            <a href="/faqs" class="pgrande">FAQs</a>
            <!--Preguntas que tiene el usuario, tengo un html de faqs desp lo subo-->
          </div>
          <div class="salir">
            <a href="=/index" class="pgrande">Salir</a>
            <!--Te lleva al index-->
          </div>
        </section>
      </div>
    </main>
  </body>
</html>

<!--AGREGAR DNI Y FECHA DE NACIMIENTO-->
