<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
   
    <link rel="stylesheet" href="css/actividadEstilos.css">
</head>


<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="#">Ayuda</a></li>
               
            </ul>
        </nav>
    
        <a href="" class="cta"><button>Login</button></a>
        <a href="" class="cta"><button>Registro</button></a>
    
    </header>
    <div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="principal.html">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Inicio
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="tuperfil.html">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                       Tu perfil
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="tudinero.html">
                   <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Tu dinero
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="actividad.html">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Actividad
                    </span>
                </a>
               
            </li>
            <li>
                <a href="enviardinero.html">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Enviar dinero
                    </span>
                </a>
            </li>
            <li>
                <a href="ayuda.html">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                      Ayuda
                    </span>
                </a>
            </li>
            
        </ul>

        <ul class="logout">
            <li>
                <a href="ajustes.html">
                    <i class="fa fa-cog fa-fw"></i>
                    <span class="nav-text">
                       Ajustes
                    </span>
                </a>
            </li>
            <li>
               <a href="salir.html">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Salir
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</body>
</html>