<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
</head>
<body>
  
    <div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="principal.html">
                    <i class="fa bi-house-door"></i>
                    <span class="nav-text">
                        Inicio
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="tuperfil.html">
                    <i class="fa bi-person"></i>
                    <span class="nav-text">
                       Tu perfil
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="tudinero.html">
                    <i class="fa bi-cash"></i>
                    <span class="nav-text">
                        Tu dinero
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="actividad.html">
                   <i class="fa bi-card-list"></i>
                    <span class="nav-text">
                        Actividad
                    </span>
                </a>
               
            </li>
            <li>
                <a href="enviardinero.html">
                    <i class="fa bi-forward"></i>
                    <span class="nav-text">
                        Enviar dinero
                    </span>
                </a>
            </li>
            <li>
                <a href="ayuda.html">
                    <i class="fa bi-headset"></i>
                    <span class="nav-text">
                      Ayuda
                    </span>
                </a>
            </li>
            
        </ul>

        <ul class="logout">
            <li>
                <a href="ajustes.html">
                    <i class="fa bi-gear"></i>
                    <span class="nav-text">
                       Ajustes
                    </span>
                </a>
            </li>
            <li>
               <a href="salir.html">
                     <i class="fa bi-box-arrow-right"></i>
                    <span class="nav-text">
                        Salir
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</body>
</html>
